<form class="filters" [formGroup]="form()">
  <app-select
    formControlName="property_id"
    [label]="'accounting.property' | transloco"
    [placeholder]="'common.all' | transloco"
    [options]="propertyOptions()"
  />
  <app-select
    formControlName="category"
    [label]="'accounting.categoryLabel' | transloco"
    [placeholder]="'accounting.allCategories' | transloco"
    [options]="categoryOptions()"
  />
  <app-select
    formControlName="expense_scope"
    [label]="'accounting.scopeLabel' | transloco"
    [placeholder]="'accounting.allScopes' | transloco"
    [options]="scopeOptions()"
  />
  <app-select
    formControlName="responsibility"
    [label]="'accounting.responsibilityLabel' | transloco"
    [placeholder]="'accounting.allResponsibilities' | transloco"
    [options]="responsibilityOptions()"
  />
  <app-select
    formControlName="payment_status"
    [label]="'accounting.paymentStatusLabel' | transloco"
    [placeholder]="'accounting.allPaymentStatuses' | transloco"
    [options]="paymentStatusOptions()"
  />
  <app-select
    formControlName="is_reimbursable"
    [label]="'accounting.reimbursableLabel' | transloco"
    [placeholder]="'accounting.allReimbursable' | transloco"
    [options]="reimbursableOptions()"
  />
  <app-date-picker formControlName="from" [label]="'accounting.from' | transloco" />
  <app-date-picker formControlName="to" [label]="'accounting.to' | transloco" />
  <div class="filter-actions">
    <app-button size="s" (clicked)="filtersApplied.emit()">
      {{ 'common.apply' | transloco }}
    </app-button>
    <app-button size="s" appearance="secondary" (clicked)="filtersCleared.emit()">
      {{ 'common.clear' | transloco }}
    </app-button>
  </div>
</form>
